@model Collaboration

<div>
    <h3>Project @Html.DisplayFor(model => model.Id) : @Html.DisplayFor(model => model.Name)</h3>
    <hr />
    <div class="row">
        
        <div class="col">
            <h4>
                General
            </h4>
        </div>
        <div class="col">
            <h4>
                @Html.ActionLink("Permissions", "PermissionDetails", new { collabId = Model.Id })
            </h4>
        </div>
        <div class="col">
            <h4>
                @Html.ActionLink("Users", "UserDetails", new { collabId = Model.Id })
            </h4>
        </div>
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restricted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restricted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            Open in Revu:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InviteUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to Projects</a>
</div>
