@model CollaborationDetails

<div>
    <partial name="CollabNavbar" model="@Model" />
    <dl class="row">
        <dt class="col-sm-2">
            Open in Revu:
        </dt>
        <dd class="col-sm-10">
            <a href="@Model.Collab.InviteUrl">@Model.Collab.InviteUrl</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Collab.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Collab.Owner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Collab.Restricted)
        </dt>
        <dd class="col-sm-10 d-inline">
            @Html.DisplayFor(model => model.Collab.Restricted)
            @{ 
                string RestrictedStatus = Model.Collab.Restricted ? "Unrestrict Access" : "Restrict Access";
                string newRestrictedStatus = Model.Collab.Restricted ? "true" : "false";
                var detailParam = new Dictionary<string, string> { { "collabId", Model.Collab.Id }, { "newRestrictedStatus", newRestrictedStatus } };
            }
            <form asp-action="UpdateAccess" asp-all-route-data="detailParam" ><input type="submit" class="btn btn-outline-primary" value="@RestrictedStatus" /></form>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Collab.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Collab.Created)
        </dd>
        @if (Model.ShowStatus)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Collab.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Collab.Status)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Index">Back to Projects</a>
</div>
