@model CollaborationDetails

@{
    ViewData["Title"] = "PermissionDetails";
}

<h3>Project @Html.DisplayFor(model => model.Collab.Id) : @Html.DisplayFor(model => model.Collab.Name)</h3>
<hr />
<div class="row">
    <div class="col">
        <h4>
            @Html.ActionLink("General", "Details", new { collabId = Model.Collab.Id })
        </h4>
    </div>
    <div class="col">
        <h4>
            Permissions
        </h4>
    </div>
    <div class="col">
        <h4>
            @Html.ActionLink("Users", "UserDetails", new { collabId = Model.Collab.Id })
        </h4>
    </div>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                Permission Type
            </th>
            <th>
                Setting
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Permissions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Allow)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>    <a asp-action="Index">Back to Projects</a></div>