@model CollaborationDetails

@{
    ViewData["Title"] = "User List";
}

<partial name="CollabNavbar" model="@Model.Collab" />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                Id
            </th>
            <th>
                Email
            </th>
            <th>
                Name
            </th>
            <th>
                Access
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users.Items)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestrictedStatus)
            </td>
            <td></td>
        </tr>
        }
    </tbody>
</table>
@{ 
    var pagedResultDisplay = Model.Users.GetModelForDisplay("UserList");
    pagedResultDisplay.ActionParams["collabId"] = Model.Collab.Id;
}
<partial name="PagedResultNavBar" model="pagedResultDisplay" />
<div>    <a asp-action="Index">Back to Projects</a></div>