@model CollaborationList

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                #
            </th>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Restricted
            </th>
            <th>
                Owner
            </th>
            @if (Model.ShowTimes)
            {
                <th>
                    Created at
                </th>
            }
            @if (Model.ShowStatus)
            {
                <th>
                    Status
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int collabNum = 1 + (Model.CurrentPage - 1) * Model.ItemsPerPage;
        }
        @foreach (var item in Model.Collaborations)
        {
            <tr>
                <td>
                    @collabNum
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restricted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner)
                </td>
                @if (Model.ShowTimes)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                }
                @if (Model.ShowStatus)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }
                <td>
                    @Html.ActionLink("Details", "Details", new { collabId = item.Id })
                </td>
            </tr>
            collabNum = collabNum + 1;
        }
    </tbody>
</table>
@if (Model.TotalCollabs > Model.ItemsPerPage)
{
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-brand">Page</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                @{
                    var detailParam = new Dictionary<string, string> { { "page", "1" } };
                }
                @for (int p = 1; p * Model.ItemsPerPage < Model.TotalCollabs + Model.ItemsPerPage; p++)
                {
                    detailParam["page"] = p.ToString();
                    if (p == Model.CurrentPage)
                    {
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Index" asp-all-route-data="detailParam">@p </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-all-route-data="detailParam">@p </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </nav>
}

