@model CollaborationDetails

<partial name="CollabNavbar" model="@Model" />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                #
            </th>
            <th>
                Email
            </th>
            <th>
                Name
            </th>
            <th>
                Access
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int collabNum = 1 + (Model.Users.CurrentPage - 1) * Model.Users.ItemsPerPage;
        }
        @foreach (var item in Model.Users.Items)
        {
            <tr>
                <td>
                    @collabNum
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RestrictedStatus)
                </td>
                <td>
                    @if (item.RestrictedStatus == "Allow")
                    {
                        var routeParams = new Dictionary<string, string> { { "collabId", Model.Collab.Id }, { "page", Model.Users.CurrentPage.ToString() }, { "user", item.Id.ToString() }, { "allow", "false" } };
                        <form asp-action="UpdateUserPermission" asp-all-route-data="routeParams" method="post"><input type="submit" class="btn btn-outline-danger" value="Deny" /></form>
                    }
                    else
                    {
                        var routeParams = new Dictionary<string, string> { { "collabId", Model.Collab.Id }, { "page", Model.Users.CurrentPage.ToString() }, { "user", item.Id.ToString() }, { "allow", "true" } };
                        <form asp-action="UpdateUserPermission" asp-all-route-data="routeParams" method="post"><input type="submit" class="btn btn-outline-primary" value="Allow" /></form>
                    }
                </td>
            </tr>
            collabNum = collabNum + 1;
        }
    </tbody>
</table>
@{
    var pagedResultDisplay = Model.Users.GetModelForDisplay("UserList");
    pagedResultDisplay.ActionParams["collabId"] = Model.Collab.Id;
}
<partial name="PagedResultNavBar" model="pagedResultDisplay" />
<div>    <a asp-action="Index">Back to Studio @Model.Collab.Type</a></div>