@model CollaborationDetails

<partial name="CollabNavbar" model="@Model" />
<p>These permissions will be applied to users who have access to this Studio @Model.Collab.Type, but do not have Group or User permissions set.</p>
<form asp-action="UpdatePermissions" method="post">
    <input type="hidden" name="CollabID" value="@Model.Collab.Id" />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    Permission Type
                </th>
                <th>
                    Current Setting
                </th>
                <th>
                    New Setting
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var options = new string[] { "Allow", "Deny", "Default" };
            }
            @foreach (var item in Model.Permissions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Allow)
                    </td>
                    <td>
                        <select class="custom-select" data-style="btn-info" name="@item.Type" id="@item.Type">
                            <option selected="selected">
                                -
                            </option>
                            @foreach (var opt in options)
                            {
                                if (item.Allow != opt)
                                {
                                    <option>
                                        @opt
                                    </option>
                                }
                            }
                        </select>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Update Permissions" class="btn btn-primary btn-block" />
</form>
<div><a asp-action="Index">Back to Studio @Model.Collab.Type List</a></div>