@model CollaborationList

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                #
            </th>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Restricted
            </th>
            <th>
                Owner
            </th>
            @if (Model.ShowTimes)
            {
                <th>
                    Created at
                </th>
            }
            @if (Model.ShowStatus)
            {
                <th>
                    Status
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int collabNum = 1 + (Model.Collaborations.CurrentPage - 1) * Model.Collaborations.ItemsPerPage;
        }
        @foreach (var item in Model.Collaborations.Items)
        {
            <tr>
                <td>
                    @collabNum
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restricted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner)
                </td>
                @if (Model.ShowTimes)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                }
                @if (Model.ShowStatus)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }
                <td>
                    @Html.ActionLink("Details", "Details", new { collabId = item.Id })
                </td>
            </tr>
            collabNum = collabNum + 1;
        }
    </tbody>
</table>

